<div class="cont">
  <div class="selector-wrapper" (click)="toggle()">
    <div class="selector-cont">
      <div class="d-flex w-100">
        <div class="selector">
          <span class="selector-content-display">
            @if (!multiple()) {
              <span>
                @if (selectedItem()) {
                  @if (nameCaptitalize()) {
                    <span class="text-capitalize">{{
                      selectedItem()![displayField()] | capitalizeTransform
                    }}</span>
                  } @else {
                    {{ selectedItem()![displayField()] | capitalizeTransform }}
                  }
                } @else {
                  Seleccione...
                }
              </span>
            } @else if (selectedItems().length === 0) {
              Seleccione...
            } @else {
              @for (item of selectedItems(); track item[idField()]) {
                <span
                  class="selected-chip"
                  [ngStyle]="
                    isLong(item)
                      ? {
                          'max-width': '215px',
                          display: 'inline-block',
                          'white-space': 'nowrap',
                          overflow: 'hidden',
                          'text-overflow': 'ellipsis',
                        }
                      : {}
                  "
                >
                  {{ item[displayField()] | capitalizeTransform }}
                </span>
              }
            }
          </span>
        </div>

        <span class="arrow">
          <span [class.rotate]="isOpen()" class="fs-6">
            <i-feather name="chevron-down"></i-feather>
          </span>
        </span>
      </div>
      @if (selectedItem() || selectedItems().length > 0) {
        <span
          class="clear-button shadow"
          [ngStyle]="{ background: colors.CANCEL }"
          (click)="$event.stopPropagation(); onClear()"
        >
          <i-feather name="x"></i-feather>
        </span>
      }
    </div>
  </div>

  <div class="selector-content shadow" [class.show]="isOpen()">
    <div class="selector-content-view">
      @if (searchable()) {
        <div class="search-input-wrapper">
          <input
            type="text"
            [(ngModel)]="filterTextInternal"
            (ngModelChange)="onFilterInput($event)"
            placeholder="Buscar..."
            class="search-input"
          />
          <i-feather name="search" class="search-icon"></i-feather>
        </div>
      }

      <ul class="list-items" [class.no-search]="!searchable()" (scroll)="onScroll($event)">
        @for (item of items(); track item[idField()]) {
          <li (click)="select(item)" [class.selected]="isSelected(item)">
            @if (multiple()) {
              <span class="checkbox" [class.checked]="isSelected(item)"></span>
            }

            <div class="d-flex gap-2 align-items-center">
              @if (nameCaptitalize()) {
                <span class="text-capitalize">
                  {{ item[displayField()] | capitalizeTransform }}</span
                >
              } @else {
                <span> {{ item[displayField()] | capitalizeTransform }}</span>
              }
              @if (twoFields()) {
                <small class="text-success fw-semibold">
                  @if (useIdTransformPipe()) {
                    {{ item[displayField2()!] | capitalizeTransform | idtransform }}
                  } @else {
                    {{ item[displayField2()!] | capitalizeTransform }}
                  }
                </small>
              }
            </div>
          </li>
        }

        @if (loading()) {
          <div class="loading">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            Cargando…
          </div>
        }

        @if (!hasMore() && items().length > 0 && !loading()) {
          <div class="no-more-data">
            <small>No hay más datos por cargar</small>
          </div>
        }

        @if (!hasMore() && items().length === 0 && error()) {
          <div class="error-data">Error al cargar los datos, contacte con TI</div>
        } @else if (!hasMore() && items().length === 0 && !loading()) {
          <div class="no-more">No hay resultados</div>
        }
      </ul>
    </div>
  </div>
</div>
