<main class="container py-3 d-flex flex-column gap-2 justify-content-center align-items-center">
  <div class="d-flex flex-column gap-2" style="width: 30rem">
    <div class="w-100">
      <button
        (click)="list()"
        [ngStyle]="{ background: colors.RESOLUTION }"
        class="btn btn py-2 rounded-3 shadow gap-2 d-flex justify-content-center fw-semibold text-white"
      >
        <i-feather name="clock"></i-feather>
        Últimos registros
      </button>
    </div>
    <form class="shadow-lg rounded-3 p-4 bg-white" [formGroup]="frmData">
      <div class="pb-3 d-flex flex-column align-items-center">
        <small class="d-block text-muted">Registro de muestras para laboratorio</small>
        <h1 class="fw-semibold" [ngStyle]="{ color: colors.PRIMARYDARK }">Alta de muestras</h1>
      </div>
      <div>
        <div class="d-flex justify-content-between pb-3">
          <div>
            <small class="text-muted">Hora de muestreo</small>
            <h5 class="" [ngStyle]="{ color: colors.PRIMARYDARK }">{{ time.roundedTime() }}</h5>
          </div>
          <div>
            <small class="text-muted">Fecha de muestreo</small>
            <h5 class="" [ngStyle]="{ color: colors.PRIMARYDARK }">
              {{ todayDate() | date: 'dd MMM yyyy' }}
            </h5>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label fw-semibold">Lista de análisis</label>
          <app-dynamic-selector
            [loadData]="getSelectorLoader(fieldNames.ANALYSIS)"
            displayField="NOMBRE"
            [idField]="'ID'"
            [multiple]="true"
            [searchable]="true"
            (cleared)="onAnalisisCleared()"
            (selectedMultiple)="onAnalisisSelected($event)"
          />
          @if (shouldShowRequiredError(fieldNames.ANALYSIS)) {
            <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
              El campo es <strong>obligatorio</strong>.
            </div>
          }
        </div>
        <div class="mb-4">
          <label class="form-label fw-semibold">Área</label>
          <app-dynamic-selector
            [loadData]="getSelectorLoader(fieldNames.AREA)"
            [idField]="'ID'"
            displayField="NOMBRE"
            [searchable]="true"
            (cleared)="onAreaCleared()"
            (selected)="onAreaSelected($event)"
          />
          @if (shouldShowRequiredError(fieldNames.AREA)) {
            <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
              El campo es <strong>obligatorio</strong>.
            </div>
          }
        </div>
      </div>

      <section class="mt-3">
        <hr />
        @if (areaEmpty()) {
          <div
            class="text-center py-3 rounded-3 shadow-sm border-0 text-white d-flex align-items-center justify-content-center gap-2"
            [ngStyle]="{ background: colors.DIVIDER }"
          >
            <i-feather name="alert-circle"></i-feather>
            <span class="fw-semibold">Seleccione un área</span>
            para cargar los campos.
          </div>
        } @else if (noFields()) {
          <div
            class="text-center py-3 rounded-3 shadow-sm border-0 text-white d-flex flex-column align-items-center"
            [ngStyle]="{ background: colors.CANCEL }"
          >
            <div class="d-flex">
              <i-feather name="info"></i-feather>
              <span class="">El área seleccionada no tiene formulario.</span>
            </div>
            <span>Contacte con TI</span>
          </div>
        } @else {
          <form
            [formGroup]="dynForm"
            class="d-flex flex-column gap-4 p-4 rounded-2 border bg-light shadow-sm"
          >
            @for (f of allFields; track f.name) {
              @if (visibleFields().includes(f.name)) {
                @if (dynForm.get(f.name)) {
                  <div class="d-flex flex-column">
                    <label class="form-label mb-2 fw-semibold">
                      {{ f.label | capitalizeTransform }}
                    </label>

                    @if (f.type === 'text') {
                      <input
                        [formControlName]="f.name"
                        class="form-control p-2 rounded-3"
                        placeholder="Ingrese valor"
                      />
                      @if (shouldShowRequiredError(f.name)) {
                        <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
                          El campo es <strong>obligatorio</strong>.
                        </div>
                      }
                    }

                    @if (f.type === 'selector') {
                      <div class="rounded-3">
                        <app-dynamic-selector
                          [loadData]="getSelectorLoader(f.name)"
                          (emptyChange)="onSelectorEmpty(f.name, $event)"
                          [idField]="'ID'"
                          [searchable]="true"
                          displayField="NOMBRE"
                          (cleared)="onDynamicSelectorCleared(f.name)"
                          [multiple]="isFieldMultiple(f.name)"
                          (selected)="onSelectorSelected(f.name, $event)"
                          (selectedMultiple)="onSelectorSelected(f.name, $event)"
                          [resetTrigger]="resetSelectors()"
                        />
                        @if (shouldShowRequiredError(f.name)) {
                          <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
                            El campo es <strong>obligatorio</strong>.
                          </div>
                        }
                      </div>
                    }

                    @if (f.type === 'validator') {
                      <input
                        [formControlName]="f.name"
                        class="form-control p-2 rounded-3"
                        placeholder="Ingrese {{ f.label }}"
                        (input)="onValidatorInput(f.name, $event.target.value)"
                        [attr.maxlength]="VALIDATOR_MAX_LENGTH_MAP[f.name]"
                      />
                      @if (shouldShowRequiredError(f.name)) {
                        <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
                          El campo es <strong>obligatorio</strong>.
                        </div>
                      }

                      <div class="d-flex flex-column">
                        @if (validatorSrv.status()[f.name] === true) {
                          <div class="mt-1 small" [ngStyle]="{ color: colors.RESOLUTION }">
                            <i-feather name="check"></i-feather>
                            {{ f.label }} válido
                          </div>
                        }
                        @if (validatorSrv.status()[f.name] === false) {
                          <div class="mt-1 small" [ngStyle]="{ color: colors.CANCEL }">
                            <i-feather name="x"></i-feather>
                            {{ f.label }} no existe
                          </div>
                        }
                        @if (validatorSrv.status()[f.name] === true) {
                          @if (validatorDisplay(f.name).visible) {
                            <div class="fw-bold">
                              <small [ngStyle]="{ color: colors.RESOLUTION }">{{
                                validatorDisplay(f.name).text
                              }}</small>
                            </div>
                          }
                        }
                      </div>
                    }
                  </div>
                }
              }
            }
          </form>
        }

        <hr />

        <div class="mb-4">
          <label class="form-label fw-semibold">Notas u observaciones adicionales</label>
          <textarea
            class="form-control rounded-3 shadow-sm p-3"
            rows="3"
            placeholder="Escriba aquí sus observaciones..."
            formControlName="obs"
          ></textarea>
        </div>

        <div class="w-100 mt-4">
          <div class="w-100 d-flex gap-1">
            <button
              type="submit"
              (click)="confirmData()"
              [ngStyle]="{ background: colors.PRIMARYDARK }"
              class="btn btn-lg w-100 py-2 rounded-3 shadow gap-2 d-flex justify-content-center fw-semibold text-white"
            >
              <span class="fs-6"> <i-feather name="save"></i-feather></span> Guardar
            </button>
          </div>
        </div>
      </section>
    </form>
    <div class="d-flex justify-content-between mt-4 text-muted fw-bold" style="font-size: 0.9rem">
      <small>RLC-005</small>
      <small>Rev. 1</small>
      <small>Tiempo de resguardo: Indefinido</small>
    </div>
  </div>
  <div
    class="d-flex flex-column justify-content-center align-items-center text-muted mt-2 text-center"
    style="font-size: 0.9rem"
  >
    <small
      >Registro de Muestras para Laboratorio Copyright © {{ todayDate() | date: 'yyyy' }} Industrias
      Indelpro S.A. de C.V.</small
    >
    <small>Soporte técnico: <strong>intranetsupvsr&#64;indelpro.com</strong> o la ext. 1679</small>
  </div>
</main>
