<main class="container py-4 d-flex justify-content-center">
  <div class="col-lg-5 col-md-8">
    <form class="border-0 rounded-4 p-4" [formGroup]="frmData">
      <div class="pb-3 d-flex flex-column align-items-center">
        <small class="d-block text-muted">Registro de muestras para laboratorio</small>
        <h1 class="fw-bold text-primary">Alta de muestras</h1>
      </div>
      <div>
        <div class="d-flex justify-content-between pb-3">
          <div>
            <small class="text-muted">Hora de muestreo</small>
            <h4 class="fw-bold text-primary">{{ currentTime() | roundTime }}</h4>
          </div>
          <div>
            <small class="text-muted">Fecha de muestreo</small>
            <h4 class="fw-bold text-primary">{{ todayDate() | date: 'dd MMM yyyy' }}</h4>
          </div>
        </div>
        <div class="mb-4">
          <label class="form-label">Lista de analisis</label>
          <app-dynamic-selector
            [loadData]="loadAnalisis"
            displayField="NOMBRE"
            [idField]="'ID'"
            [multiple]="true"
            (selected)="onAreaSelected($event)"
          />
        </div>
        <div class="mb-4">
          <label class="form-label">Área</label>
          <app-dynamic-selector
            [loadData]="loadAreas"
            displayField="NOMBRE"
            (selected)="onAreaSelected($event)"
          />
        </div>
      </div>

      <section class="mt-3">
        <hr />
        @if (frmData.get('area')?.value === '') {
          <div class="alert alert-info text-center py-3 rounded-3 shadow-sm border-0">
            <i-feather name="alert-circle"></i-feather> Por favor,
            <strong>seleccione un área</strong>
            para cargar los campos.
          </div>
        } @else {
          <form
            [formGroup]="dynForm"
            class="d-flex flex-column gap-4 p-4 rounded-2 border bg-light shadow-sm"
          >
            @for (f of allFields; track f.name) {
              @if (visibleFields().includes(f.name)) {
                @if (dynForm.get(f.name)) {
                  <div class="d-flex flex-column">
                    <label class="form-label text-capitalize mb-2 fw-bold">
                      {{ f.label }}
                    </label>

                    @if (f.type === 'text') {
                      <input
                        [formControlName]="f.name"
                        class="form-control p-2 rounded-3"
                        placeholder="Ingrese valor"
                      />
                    }

                    @if (f.type === 'select') {
                      <select [formControlName]="f.name" class="form-select p-2 rounded-3">
                        <option value="" disabled selected [defaultSelected]="true">
                          Seleccione una opción
                        </option>
                        @for (op of f.options; track op) {
                          <option [value]="op">{{ op }}</option>
                        }
                      </select>
                    }

                    @if (f.type === 'selector') {
                      <div class="rounded-3">
                        <app-dynamic-selector
                          [loadData]="getSelectorLoader(f.name)"
                          [idField]="'ID'"
                          displayField="NOMBRE"
                          [multiple]="isFieldMultiple(f.name)"
                          (selected)="onSelectorSelected(f.name, $event)"
                        />
                      </div>
                    }
                  </div>
                }
              }
            }
          </form>
        }

        <hr />

        <div class="mb-4">
          <label class="form-label fw-bold">Notas u observaciones adicionales</label>
          <textarea
            class="form-control rounded-3 shadow-sm p-3"
            rows="3"
            placeholder="Escriba aquí sus observaciones..."
            formControlName="obs"
          ></textarea>
        </div>

        <div class="w-100 mt-4">
          <button
            type="submit"
            [disabled]="frmData.invalid"
            class="btn btn-primary btn-lg w-100 py-2 rounded-3 shadow gap-2 d-flex justify-content-center fw-bold"
          >
            <span class="fs-6"> <i-feather name="save"></i-feather></span> Guardar
          </button>
          <small class="d-block text-center text-muted mt-2"
            >Asegúrese de que todos los campos requeridos estén llenos.</small
          >
        </div>
      </section>
    </form>
    <div class="d-flex justify-content-between mt-4 text-muted">
      <small>RLC-005</small>
      <small>Rev. 1</small>
      <small>Tiempo de resguardo: Indefinido</small>
    </div>
    <div class="d-flex flex-column justify-content-center align-items-center text-muted mt-2">
      <small
        >Registro de Muestras para Laboratorio Copyright ©
        {{ todayDate() | date: 'yyyy' }} Industrias Indelpro S.A. de C.V.</small
      >
      <small
        >Soporte técnico: <strong>intranetsupvsr&#64;indelpro.com</strong> o la ext. 1679</small
      >
    </div>
  </div>
</main>
