<div class="menu">
  <div class="menu-container">
    <div class="w-100">
      <div class="d-flex gap-2 align-items-center justify-content-center">
        <img src="/icon_indelpro_light.svg" alt="" width="50" />
        <img src="/let_indelpro_light.svg" alt="" width="150" />
        <!-- <img src="/indelpro_light.svg" alt="" width="200" /> -->
      </div>
      <ul>
        @for (m of menu; track $index; let i = $index) {
          <li class="menu-title" (click)="toggle(i)">
            {{ m.title }}
            <span class="arrow">
              <i-feather name="chevron-down"></i-feather>
            </span>
          </li>

          <ul class="submenu" [class.open]="openStates[i]">
            @for (item of m.items; track $index) {
              <li class="submenu-item" [routerLink]="[item.route]">
                <small>{{ item.label }}</small>
              </li>
            }
          </ul>
        }
      </ul>
    </div>
  </div>
</div>
