.menu-toggler {
  position: fixed;
  height: 100dvh;
  top: 0;
  left: 0;
  z-index: 20;
  padding-inline-start: 10px;
  padding-inline-end: 20px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(to bottom, #242a33, #0f1216);
  // border-radius: 300px;
  opacity: 0;
  pointer-events: none;
  transform: translateX(-10px);
  transition: opacity 300ms ease-in-out, transform 300ms ease;

  &.visible {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(calc(1 * var(--sidebar-width)));
  }
}

.menu-toggler::after {
  content: "";
  width: 4px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #009CDC, transparent);
  position: absolute;
  right: 0;
  opacity: 0;
  transition-duration: 300ms;
}

.menu-toggler:hover::after {
  opacity: 1;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  transition: transform 300ms ease;

  &.collapsed {
    transform: translateX(calc(-1 * var(--sidebar-width)));
  }

  .logo {
    border-block-end: solid 1px #303844;
    padding: 10px;
  }

  .menu-container {
    position: relative;
    // padding-block-start: 20px;
    border-inline-end: solid 1px #000;
    background: #242a33;
    height: 100dvh;
    width: 260px;
    color: #cccccc;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    gap: 20px;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu-opts {
      width: 100%;
      // border-block-end: solid 1px #303844;
      padding: 10px;
      display: flex;
      justify-content: space-between;
    }


    .menu-title {
      cursor: pointer;
      padding: 15px 10px;
      font-size: 0.9rem;
      // font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: color 0.2s ease;

      &:hover {
        color: #ffffff;
      }

      .arrow {
        transition: transform 300ms ease;
      }

      /* Rotar flecha si el menú está abierto */
      &.open .arrow {
        transform: rotate(180deg);
      }
    }

    .submenu {
      background: #141b23;
      width: 100%;
      max-height: 0;
      overflow: hidden;
      // border-block-end: solid 1px #000;
      transition:
        max-height 0.35s ease,
        padding 0.25s ease;

      &.open {
        max-height: 400px;
        /* suficiente sin exagerar */
        overflow-y: auto;
      }

      /* scroll minimalista */
      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-thumb {
        background: #2a3545;
        border-radius: 4px;
      }
    }

    .submenu-item {
      padding-block: 10px;
      padding-inline-start: 40px;
      font-size: 0.95rem;
      cursor: pointer;
      transition:
        background 0.25s ease,
        color 0.25s ease;

      &:hover {
        background: #252b33;
        color: #fff;
      }
    }
  }

  .active {
    color: #009CDC;
  }

  .icon {
    height: 15px;
    width: 15px;
  }
}