@use 'fonts' as *;

* {
  font-family: $poppins;
}

:root {
  overscroll-behavior: none;
  --accent-light: #00db89;
  --primary-light: #0013db;
  --primary-dark: #0058db;
  --primary: #009cdc;
  --accent: #00dbd4;
  --title: #161616;
  --text: #6b6b6b;
  --divider: #9daabd;
  --card: #eaeaea;
  --borders: #cecece;
  --white: #ffffff;
  --base: #00acc1;
  --resolution: #43a047;
  --denegate: #fb8c00;
  --cancel: #e53935;
  --asignation: #009688;
  --process: #e91e63;
  --complete: #0a2342;
  --construction: #1976d2;
  --analysis: #9c27b0;
  --authorization: #283593;
  --planeation: #795548;
  --security: #4527a0;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
